---
---
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');

@keyframes fadeIn {
	0% {
		opacity       : 0;
		pointer-events: none;
	}

	100% {
		opacity       : 1;
		pointer-events: auto;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity       : 0;
		pointer-events: none;
	}

	100% {
		opacity       : 1;
		pointer-events: auto;
	}
}

@keyframes fadeInUp {
	from {
		-webkit-transform: translate3d(0, 40px, 0);
		transform        : translate3d(0, 40px, 0);
		opacity          : 0;
		pointer-events   : none;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform        : translate3d(0, 0, 0);
		opacity          : 1;
		pointer-events   : auto;
	}
}

@-webkit-keyframes fadeInUp {
	from {
		-webkit-transform: translate3d(0, 40px, 0);
		transform        : translate3d(0, 40px, 0);
		opacity          : 0;
		pointer-events   : none;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform        : translate3d(0, 0, 0);
		opacity          : 1;
		pointer-events   : auto;
	}
}

@keyframes fadeOutUp {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform        : translate3d(0, 0, 0);
		pointer-events   : auto;
		opacity          : 1;
	}

	to {
		-webkit-transform: translate3d(0, 40px, 0);
		transform        : translate3d(0, 40px, 0);
		opacity          : 0;
		pointer-events   : none;
	}
}

@-webkit-keyframes fadeOutUp {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform        : translate3d(0, 0, 0);
		pointer-events   : auto;
		opacity          : 1;
	}

	to {
		-webkit-transform: translate3d(0, 40px, 0);
		transform        : translate3d(0, 40px, 0);
		opacity          : 0;
		pointer-events   : none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity          : 0;
		pointer-events   : none;
		-webkit-transform: translate3d(100%, 0, 0);
		transform        : translate3d(100%, 0, 0);
	}

	100% {
		opacity          : 1;
		-webkit-transform: none;
		transform        : none;
		pointer-events   : auto;
	}
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity          : 0;
		pointer-events   : none;
		-webkit-transform: translate3d(100%, 0, 0);
		transform        : translate3d(100%, 0, 0);
	}

	100% {
		opacity          : 1;
		pointer-events   : auto;
		-webkit-transform: none;
		transform        : none;
	}
}

// .no-webp #bg,
// .no-js #bg {
// 	background-image: url("/img/background.jpg");
// }

// .webp #bg {
// 	background-image: url("/webp/background.webp");
// }

* {
	font-family            : 'Overpass Mono', monospace;
	font-size              : 16px;
	line-height            : 150%;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing         : antialiased;
	text-rendering         : auto;
	-webkit-transition     : all 0.25s ease-in-out;
	transition             : all 0.25s ease-in-out;
	color                  : #ffffff;
}

header {
	z-index                    : 10;
	animation-duration         : 1s;
	animation-fill-mode        : both;
	-webkit-animation-duration : 1s;
	-webkit-animation-fill-mode: both;
	opacity                    : 0;
	animation-name             : fadeIn;
	-webkit-animation-name     : fadeIn;
	margin                     : 0 auto;
	text-align                 : center;
	position                   : fixed;
	width                      : 100vw;
	background-color           : transparent;
	-webkit-transition         : 0.3s all;
	transition                 : 0.3s all;
	top                        : 0;
	left                       : 0;
}

html {
	background-color: #000;
}

#bg {
	position       : fixed;
	width          : 100%;
	height         : 100%;
	top            : 0;
	left           : 0;
	margin         : 0;
	padding        : 0;
	z-index        : -1;
	background     : linear-gradient(0deg, black, gray);
	display        : block;
	background-size: cover;
}

body,
.site {
	padding: 0;
	margin : 0 auto;
	width  : 100%;
	color  : #ffffff;
}

.site {
    margin-top: 20px;
}

#main {
	height    : 100%;
	min-height: 100vh;
    background: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
    width     : 70vw;
    margin    : 0 auto;
	padding   : 50px;
}

p {
	text-align: justify;
}

h1,
main {
	animation-duration         : 1s;
	animation-fill-mode        : both;
	-webkit-animation-duration : 1s;
	-webkit-animation-fill-mode: both;
	opacity                    : 0;
	pointer-events             : none;
	animation-name             : fadeInUp;
	-webkit-animation-name     : fadeInUp;
}

.is-exiting {
	animation-duration         : 1s;
	animation-fill-mode        : both;
	-webkit-animation-duration : 1s;
	-webkit-animation-fill-mode: both;
	opacity                    : 0;
	pointer-events             : none;
	animation-name             : fadeOutDown;
	-webkit-animation-name     : fadeOutDown;
}

// Non-Mobile devices
@media only screen and (min-width: 768px) {
	* {
		font-size: 17px;
	}
}

img {
	margin : 0 auto;
	display: block;
	height : auto;
}

#logo {
	width    : 125px;
	max-width: calc(100% - 42px);
	min-width: 25px;
	margin   : 0 auto;
	padding  : 0;
}

#logo-image {
	display: block;
	width  : 100%;
}

.image-wrapper {
	margin : 0 auto;
	padding: 0;
	display: block;

	>img {
		width        : 100%;
		display      : block;
		border-radius: 1%;
	}
}

h1 {
	font-weight  : bolder;
	font-size    : 5vw;
	text-align   : center;
	margin       : 0 auto;
	margin-top   : 75px;
	margin-bottom: 15px;
	padding      : 0;
	padding-top  : 10;
	display      : block;
	filter       : drop-shadow(2px 2px 0px black);
}

h2 {
	font-size  : 4vw;
	text-align : center;
	font-weight: normal;
	margin     : 0;
	padding    : 0;
}

h3 {
	font-size: 3vw;
}

article {
	margin        : 0 auto;
	margin-bottom : 50px;
	width         : 100%;
	pointer-events: auto; //Edge fix

	>div {
		margin: 0 auto;
	}
}

a {
	color          : #5b9bd5;
	text-decoration: none;

	&:visited {
		color          : #5b9bd5;
		text-decoration: none;
	}
}

.shadowed {
	-webkit-filter    : drop-shadow(0 0 0 5px rgba(0, 0, 0, 0.8));
	// 	filter        : url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='3'/><feOffset dx='0' dy='0' result='offsetblur'/><feFlood flood-color='rgb(0,0,0)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");//';
	-ms-filter        : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
	filter            : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}

.nav-current {
	font-weight: bold;
	font-style : italic;
}

.info {
	text-align: center;
	margin: 0 auto;
}

.status {
	font-style: italic;
}

.alpha {
	color  : yellow;
}

.beta {
	color  : lightblue;
}

.stable {
	color  : lightgreen;
}

.unstable {
	color  : red;
}

.discontinued {
	color  : lightgray;
}

.page-404 {
	.container {
		max-width: 600px;
	}
}

.hover:hover .dropbtn {
	font-style: italic;
}

.avatar {
	width: 15%;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
}

.page-home {
	text-align: center;
	margin    : 0 auto;

	#logo-image {
		margin: 0 auto;
	}

	.mobile-nav {
		display: none;
	}
}

// Mobile devices
@media only screen and (max-width: 768px) {
	.desktop-nav {
		display: none;
	}

	.changeColor {
		background-color: rgba(255, 255, 255, 0.52);
	}
	
	#menuToggle {
		display            : block;
		position           : absolute;
		top                : 15px;
		left               : 15px;
		padding            : 13px 20px;
		z-index            : 1;
		-webkit-user-select: none;
		-moz-user-select   : none;
		-ms-user-select    : none;
		user-select        : none;
		height             : 0;
		width              : 0;

		>input {
			display              : block;
			width                : 70px;
			height               : 50px;
			position             : absolute;
			top                  : -24px;
			left                 : -24px;
			cursor               : pointer;
			opacity              : 0;
			z-index              : 2;
			-webkit-touch-callout: none;

			&:checked~ {
				span {
					opacity          : 1;
					-webkit-transform: rotate(45deg) translate3d(-13px, 2px, 0);
					transform        : rotate(45deg) translate3d(-13px, 2px, 0);
					background       : #000;

					&:nth-last-child(3) {
						opacity          : 0;
						-webkit-transform: rotate(0deg) scale(0.2, 0.2);
						transform        : rotate(0deg) scale(0.2, 0.2);
					}

					&:nth-last-child(2) {
						-webkit-transform: rotate(-45deg) translate3d(-2px, -12px, 0);
						transform        : rotate(-45deg) translate3d(-2px, -12px, 0);
					}
				}

				ul {
					-webkit-transform-origin: 0 0;
					transform-origin        : 0 0;
					-webkit-transform       : translate3d(0, 0, 0);
					transform               : translate3d(0, 0, 0);
				}
			}
		}

		span {
			display                 : block;
			will-change             : opacity, transform;
			width                   : 22px;
			height                  : 2px;
			margin-bottom           : 4px;
			position                : relative;
			background              : #fff;
			border-radius           : 0;
			z-index                 : 1;
			-webkit-transform-origin: 3px 0;
			transform-origin        : 3px 0;
			transform               : translate3d(-9px, -9px, 0);
			-webkit-transform       : translate3d(-9px, -9px, 0);
			-webkit-transition      : background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
			transition              : background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
			transition              : transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
			transition              : transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

			&:first-child {
				-webkit-transform-origin: 0 0;
				transform-origin        : 0 0;
			}

			&:nth-last-child(2) {
				-webkit-transform-origin: 0 100%;
				transform-origin        : 0 100%;
			}
		}
	}

	#menu {
		will-change             : transform-origin, transform;
		position                : relative;
		display                 : block;
		left                    : 0;
		top                     : -50px;
		height                  : 100vh;
		width                   : calc(50vw + 50px);
		margin                  : 0 0 0 -35px;
		padding                 : 50px 0 0 0;
		background              : white;
		list-style-type         : none;
		-webkit-font-smoothing  : antialiased;
		-webkit-transform-origin: 0 0;
		transform-origin        : 0 0;
		-webkit-transform       : translate3d(-50vw, 0, 0) translate3d(-50px, 0, 0);
		transform               : translate3d(-50vw, 0, 0) translate3d(-50px, 0, 0);
		-webkit-transition      : -webkit-transform 0.5s cubic-bezier(0.77, 0.6, 0.4, 1);
		transition              : -webkit-transform 0.5s cubic-bezier(0.77, 0.6, 0.4, 1);
		transition              : transform 0.5s cubic-bezier(0.77, 0.6, 0.4, 1);
		transition              : transform 0.5s cubic-bezier(0.77, 0.6, 0.4, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.6, 0.4, 1);
		font-size               : 18px;
		line-height             : normal;
		color                   : #fff;

		li {
			padding   : 10px 10px;
			font-size : 22px;
			color     : black;
			text-align: left;
			display   : block;

			a {
				color: black;
			}
		}
		
    	.dropdown {
    		position       : relative;
    		display        : inline-block;
			margin         : 0;
			padding        : 0;
			list-style-type: none;
			font-size      : 18px;
			line-height    : normal;
			color          : #fff;
    		
            .dropbtn {
        		background-color: transparent;
        		color           : #000;
        		border          : none;
        		letter-spacing  : 0.03em;
        		outline         : none;
        		width           : 150px;
        		text-align      : left;
        		font-size       : 30px;
        		
                i {
            		display: inline-block;
            		width  : 0;
            		height : 0;
            
            		&:before {
            			content           : '';
            			position          : absolute;
            			width             : 3px;
            			height            : 15px;
            			background        : #000;
            			border-radius     : 2px;
            			top               : 20px;
            			-webkit-transform : rotate(-45deg);
            			transform         : rotate(-45deg);
            			right             : 27px;
            			margin-right      : 0;
            			-webkit-transition: -webkit-transform 0.5s;
            			transition        : -webkit-transform 0.5s;
            			transition        : transform 0.5s;
            			transition        : transform 0.5s, -webkit-transform 0.5s;
            		}
            
            		&:after {
            			content           : '';
            			position          : absolute;
            			width             : 3px;
            			height            : 15px;
            			background        : #000;
            			border-radius     : 2px;
            			top               : 20px;
            			margin-right      : 0;
            			-webkit-transition: -webkit-transform 0.5s;
            			transition        : -webkit-transform 0.5s;
            			transition        : transform 0.5s;
            			transition        : transform 0.5s, -webkit-transform 0.5s;
            			right             : 18px;
            			-webkit-transform : rotate(45deg);
            			transform         : rotate(45deg);
            		}
            	}
            	
        		&::-moz-focus-inner {
        			border: 0;
        		}
        
        		&:focus {
        			outline: none;
        		}
        	}
        	
        	.dropdown-content {
        		display           : block;
        		-webkit-transition: max-height 0.5s ease-in-out, transform;
        		-webkit-transition: max-height 0.5s ease-in-out, -webkit-transform;
        		transition        : max-height 0.5s ease-in-out, -webkit-transform;
        		transition        : max-height 0.5s ease-in-out, transform;
        		transition        : max-height 0.5s ease-in-out, transform, -webkit-transform;
        		background-color  : #f1f1f1;
        		z-index           : 1;
        		max-height        : 0;
        		overflow          : hidden;
        		margin-left       : -40px;
        		width             : calc(50vw + 50px);
        
        		li {
        			border-bottom: 1px dashed gray;
        
        			* {
        				list-style-type: none;
        				font-size      : 18px;
        				line-height    : normal;
        				color          : #fff;
        			}
        
        			&:nth-last-child(1) {
        				border-bottom: none;
        			}
        		}
        
        		a {
        			color          : #000 !important;
        			padding        : 0 5px;
        			text-decoration: none;
        			display        : block;
        			font-weight    : 700;
        			font-size      : 1.4rem;
        			text-align     : left;
        
        			&:hover {
        				color           : #000;
        				background-color: #ddd;
        				font-style      : Italic;
        			}
        		}
        	}
        	
        	.nav-current .dropdown-content {
        		max-height: 150px;
        	}
        	
        	input {
				display              : block;
				width                : 100%;
				height               : 66px;
				position             : absolute;
				top                  : 0;
				left                 : 0;
				cursor               : pointer;
				opacity              : 0;
				z-index              : 2;
				-webkit-touch-callout: none;
				margin               : -9px 0 0 0;
			}
        	
    		input:checked~ {
    			.dropdown-content {
    				max-height: 1000px;
    			}
    
    			.dropbtn i {
    				&::before {
    					-webkit-transform: rotate(45deg);
    					transform        : rotate(45deg);
    				}
    
    				&::after {
    					-webkit-transform: rotate(-45deg);
    					transform        : rotate(-45deg);
    				}
    			}
    		}
    	}

		button,
		i {
			color: black;
		}
	}

	.page-home {
		#logo {
			margin: 0 auto;
			width : 100%;
		}

		#slogan {
			margin-top : calc(100% / 3.2 / -20 - 5px);
			width      : 100%;
			font-size  : 23px;
		}

		.desktop-nav {
			width      : 100%;
			margin     : 0 auto;
			margin-top : 20px;
			display    : initial;

			ul {
				margin : 0;
				padding: 0;

				.dropdown {
					margin  : 0 30px 0 0px;
					position: relative;
					display : inline-block;

					input {
						display              : block;
						width                : calc(100% + 30px);
						height               : 44px;
						position             : absolute;
						top                  : -4px;
						left                 : 14px;
						cursor               : pointer;
						opacity              : 0;
						z-index              : 2;
						-webkit-touch-callout: none;
						margin               : 0;
						padding              : 0;

						&:checked~ {

							ul,
							.dropdown-content {
								display   : block;
								visibility: visible;
								opacity   : 1;
							}

							.dropbtn i {
								&::before {
									-webkit-transform: rotate(45deg);
									transform        : rotate(45deg);
								}

								&::after {
									-webkit-transform: rotate(-45deg);
									transform        : rotate(-45deg);
								}
							}
						}
					}

					.dropbtn {
						background-color: transparent;
						color           : #fff;
						font-size       : 28px;
						border          : none;
						letter-spacing  : 0.03em;
						outline         : none;
						width           : 75%;
						margin          : 0 auto;
						height          : 40px;

						&::-moz-focus-inner {
							border: 0;
						}

						&:focus {
							outline: none;
						}

						i {
							&:before {
								content           : '';
								position          : absolute;
								width             : 2px;
								height            : 15px;
								background        : #fff;
								border-radius     : 2px;
								top               : 12px;
								-webkit-transform : rotate(-45deg);
								transform         : rotate(-45deg);
								right             : 0;
								margin-right      : -15px;
								-webkit-transition: -webkit-transform 0.5s;
								transition        : -webkit-transform 0.5s;
								transition        : transform 0.5s;
								transition        : transform 0.5s, -webkit-transform 0.5s;
							}

							&:after {
								content           : '';
								position          : absolute;
								width             : 2px;
								height            : 15px;
								background        : #fff;
								border-radius     : 2px;
								top               : 12px;
								margin-right      : -25px;
								-webkit-transition: -webkit-transform 0.5s;
								transition        : -webkit-transform 0.5s;
								transition        : transform 0.5s;
								transition        : transform 0.5s, -webkit-transform 0.5s;
								right             : 0px;
								-webkit-transform : rotate(45deg);
								transform         : rotate(45deg);
							}
						}
					}

					.dropdown-content {
						display           : block;
						visibility        : hidden;
						opacity           : 0;
						-webkit-transition: visibility 0s, opacity 0.5s linear, transform;
						-webkit-transition: visibility 0.5s, opacity 0.5s linear;
						transition        : visibility 0.5s, opacity 0.5s linear;
						position          : absolute;
						background-color  : #f1f1f1;
						-webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
						box-shadow        : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
						z-index           : 1;
						width             : calc(100% + 30px);
						top               : 40px;
						left              : 15px;

						li {
							border-bottom  : 1px dashed gray;
							list-style-type: none;

							a {
								color          : #000 !important;
								padding        : 0 5px;
								text-decoration: none;
								display        : block;
								font-weight    : 600;
								font-size      : 20px;
								text-align     : left;

								&:hover {
									color           : #000;
									background-color: #ddd;
									font-style      : Italic;
								}
							}

							&:nth-last-child(1) {
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
}

// Specifically Phones
@media only screen and (max-width: 320px) {
    .page-home {
        .desktop-nav {
            display: none;
        }
        .mobile-nav {
            display: block;
        }
    }
    /*.page-home .desktop-nav ul {
		-webkit-font-smoothing: antialiased;

		li {
			padding   : 10px 10px;
			font-size : 22px;
			color     : black;
			text-align: left;
			display   : block;

			a {
				color: black;
			}
		}

		button,
		i {
			color: black;
		}
		
    	.dropdown {
    		position       : relative;
    		display        : inline-block;
			margin         : 0 auto;
			padding        : 0;
			list-style-type: none;
			font-size      : 18px;
			line-height    : normal;
			color          : #fff;
    		
            .dropbtn {
        		background-color: transparent;
        		color           : #fff;
        		border          : none;
        		letter-spacing  : 0.03em;
        		outline         : none;
        		width           : 150px;
        		text-align      : center;
        		font-size       : 30px;
        		
                i {
            		display: inline-block;
            		width  : 0;
            		height : 0;
            
            		&:before {
            			content           : '';
            			position          : absolute;
            			width             : 2px;
            			height            : 15px;
            			background        : #fff;
            			border-radius     : 2px;
            			top               : 14px;
            			-webkit-transform : rotate(-45deg);
            			transform         : rotate(-45deg);
            			right             : 27px;
            			margin-right      : 0;
            			-webkit-transition: -webkit-transform 0.5s;
            			transition        : -webkit-transform 0.5s;
            			transition        : transform 0.5s;
            			transition        : transform 0.5s, -webkit-transform 0.5s;
            		}
            
            		&:after {
            			content           : '';
            			position          : absolute;
            			width             : 2px;
            			height            : 15px;
            			background        : #fff;
            			border-radius     : 2px;
            			top               : 14px;
            			margin-right      : 0;
            			-webkit-transition: -webkit-transform 0.5s;
            			transition        : -webkit-transform 0.5s;
            			transition        : transform 0.5s;
            			transition        : transform 0.5s, -webkit-transform 0.5s;
            			right             : 18px;
            			-webkit-transform : rotate(45deg);
            			transform         : rotate(45deg);
            		}
            	}
            	
        		&::-moz-focus-inner {
        			border: 0;
        		}
        
        		&:focus {
        			outline: none;
        		}
        	}
        	
        	.dropdown-content {
        		display           : block;
        		-webkit-transition: max-height 0.5s ease-in-out, transform;
        		-webkit-transition: max-height 0.5s ease-in-out, -webkit-transform;
        		transition        : max-height 0.5s ease-in-out, -webkit-transform;
        		transition        : max-height 0.5s ease-in-out, transform;
        		transition        : max-height 0.5s ease-in-out, transform, -webkit-transform;
        		background-color  : #f1f1f1;
        		z-index           : 1;
        		max-height        : 0;
        		overflow          : hidden;
        		width             : 100%;
        		opacity           : 1;
        		visibility        : visible;
        		top               : 0;
        		position          : relative;
        
        		li {
        			border-bottom: 1px dashed gray;
        			padding      : 0;
        
        			* {
        				list-style-type: none;
        				font-size      : 18px;
        				line-height    : normal;
        				color          : #fff;
        			}
        
        			&:nth-last-child(1) {
        				border-bottom: none;
        			}
        			
        			a {
            			color          : #000 !important;
            			padding        : 0 5px;
            			text-decoration: none;
            			display        : block;
            			font-weight    : 700;
            			font-size      : 1.4rem;
            			text-align     : center;
            
            			&:hover {
            				color           : #000;
            				background-color: #ddd;
            				font-style      : Italic;
            			}
            		}
        		}
        	}
        	
        	.nav-current .dropdown-content {
        		max-height: 150px;
        	}
        	
        	input {
				display              : block;
				width                : 100%;
				height               : 40px;
				position             : absolute;
				top                  : 0;
				left                 : 0;
				cursor               : pointer;
				opacity              : 0;
				z-index              : 2;
				-webkit-touch-callout: none;
				margin               : 0 auto;
			}
        	
    		input:checked~ {
    			.dropdown-content {
    				max-height: 1000px;
    			}
    
    			.dropbtn i {
    				&::before {
    					-webkit-transform: rotate(45deg);
    					transform        : rotate(45deg);
    				}
    
    				&::after {
    					-webkit-transform: rotate(-45deg);
    					transform        : rotate(-45deg);
    				}
    			}
    		}
    	}
	}*/
}

@media only screen and (max-width: 600px) {
	.thin {
		width: 90vw;
		margin: 0 auto;
	}
}

// Specifically Tablets
@media only screen and (min-width: 601px) and (max-width: 768px) {
	.thin {
		width: 50vw;
		margin: 0 auto;
	}
}

// Everything larger
@media only screen and (min-width: 769px) {
	.thin {
		width: 50vw;
		margin: 0 auto;
	}

	header {
		width   : 100%;
		position: relative;

		#logo {
			width : 100%;
			height: auto;
			margin: 0 auto;
		}

		#logo-image {
			height   : auto;
			width    : 100%;
			max-width: 276px;
		}

		.desktop-nav {
			width        : 100%;
			margin       : 0 auto;
			display      : initial;
			// padding-right: 20px;

			ul {
				margin : 0;
				padding: 0;

				.dropdown {
					margin  : 0 20px;
					position: relative;
					display : inline-block;

					input {
						display              : block;
						width                : calc(100% + 20px);
						height               : 44px;
						position             : absolute;
						top                  : -4px;
						left                 : -1px;
						cursor               : pointer;
						opacity              : 0;
						z-index              : 2;
						-webkit-touch-callout: none;

						&:checked~ {
							ul {
								display   : block;
								visibility: visible;
								opacity   : 1;
							}

							.dropdown-content {
								display       : block;
								visibility    : visible;
								opacity       : 1;
								pointer-events: auto;
							}

							.dropbtn i {
								&::before {
									-webkit-transform: rotate(45deg);
									transform        : rotate(45deg);
								}

								&::after {
									-webkit-transform: rotate(-45deg);
									transform        : rotate(-45deg);
								}
							}
						}
					}

					.dropbtn {
						background-color: transparent;
						color           : #fff;
						font-size       : 28px;
						border          : none;
						letter-spacing  : 0.03em;
						outline         : none;

						&::-moz-focus-inner {
							border: 0;
						}

						&:focus {
							outline: none;
						}

						i {
							&:before {
								content           : '';
								position          : absolute;
								width             : 2px;
								height            : 15px;
								background        : #fff;
								border-radius     : 2px;
								top               : 12px;
								-webkit-transform : rotate(-45deg);
								transform         : rotate(-45deg);
								right             : 0;
								margin-right      : -7px;
								-webkit-transition: -webkit-transform 0.5s;
								transition        : -webkit-transform 0.5s;
								transition        : transform 0.5s;
								transition        : transform 0.5s, -webkit-transform 0.5s;
							}

							&:after {
								content           : '';
								position          : absolute;
								width             : 2px;
								height            : 15px;
								background        : #fff;
								border-radius     : 2px;
								top               : 12px;
								right             : 0;
								margin-right      : -7px;
								-webkit-transition: -webkit-transform 0.5s;
								transition        : -webkit-transform 0.5s;
								transition        : transform 0.5s;
								transition        : transform 0.5s, -webkit-transform 0.5s;
								right             : -10px;
								-webkit-transform : rotate(45deg);
								transform         : rotate(45deg);
							}
						}
					}

					.dropdown-content {
						display           : block;
						visibility        : hidden;
						opacity           : 0;
						-webkit-transition: visibility 0s, opacity 0.5s linear, transform;
						-webkit-transition: visibility 0.5s, opacity 0.5s linear;
						transition        : visibility 0.5s, opacity 0.5s linear;
						position          : absolute;
						background-color  : #f1f1f1;
						-webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
						box-shadow        : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
						z-index           : 1;
						width             : calc(100% + 20px);

						li {
							border-bottom  : 1px dashed gray;
							list-style-type: none;

							a {
								color          : #000 !important;
								padding        : 0 5px;
								text-decoration: none;
								display        : block;
								font-weight    : 600;
								font-size      : 20px;
								text-align     : left;

								&:hover {
									color           : #000;
									background-color: #ddd;
									font-style      : Italic;
								}
							}

							&:nth-last-child(1) {
								border-bottom: none;
							}
						}
					}
				}
			}
		}

		.mobile-nav {
			display: none;
		}

		#slogan {
			display    : block;
			width      : 100%;
			font-size  : 23px;
		}
	}

	h1 {
		font-size    : 4vw;
		margin-bottom: 0;
		margin-top   : 0;
		padding      : 0;
	}

	h2 {
		font-size: 3vw;
	}

	h3 {
		font-size: 2vw;
	}

	.page-about {
		.thin {
			width: 70vw;
			margin: 0 auto;
		}

		#team-image {
			width : 100%;
			height: auto;
		}

		article>div {
			display              : grid;
			grid-template-columns: 50% 50%;
			grid-template-rows   : 4vw auto;
			grid-column-gap      : 5px;
		}

		h2 {
			grid-area  : 1 / 1 / 2 / 3;
			line-height: 1;
			height     : 4vw;
		}

		#team {
			grid-column: 1;
			grid-row   : 1;
			align-self : center;
			grid-area  : 2 / 1 / 3 / 2;
		}

		#about-content {
			grid-column: 2;
			grid-row   : 1;
			align-self : center;
			grid-area  : 2 / 2 / 3 / 3;
		}
	}

	.page-home {
		#logo {
			margin: 0 auto;
			width : 50%;
		}

		#slogan {
			margin-top : 1%;
			width      : 100%;
			font-size  : 23px;
		}

		.desktop-nav {
			width     : calc(100% - 80px);
			margin    : 0 auto;
			margin-top: 20px;
			display   : initial;

			ul {
				margin : 0;
				padding: 0;
				width  : 100%;

				.dropdown {
					margin  : 0 15px;
					position: relative;
					display : inline-block;

					input {
						display              : block;
						width                : calc(100% + 20px);
						height               : 44px;
						position             : absolute;
						top                  : -4px;
						left                 : -1px;
						cursor               : pointer;
						opacity              : 0;
						z-index              : 2;
						-webkit-touch-callout: none;

						&:checked~ {

							ul,
							.dropdown-content {
								display   : block;
								visibility: visible;
								opacity   : 1;
							}

							.dropbtn i {
								&::before {
									-webkit-transform: rotate(45deg);
									transform        : rotate(45deg);
								}

								&::after {
									-webkit-transform: rotate(-45deg);
									transform        : rotate(-45deg);
								}
							}
						}
					}

					.dropbtn {
						background-color: transparent;
						color           : #fff;
						font-size       : 28px;
						border          : none;
						letter-spacing  : 0.03em;
						outline         : none;

						&::-moz-focus-inner {
							border: 0;
						}

						&:focus {
							outline: none;
						}

						i {
							display: inline-block;

							&:before {
								content           : '';
								position          : absolute;
								width             : 2px;
								height            : 15px;
								background        : #fff;
								border-radius     : 2px;
								top               : 12px;
								-webkit-transform : rotate(-45deg);
								transform         : rotate(-45deg);
								right             : 0;
								-webkit-transition: -webkit-transform 0.5s;
								transition        : -webkit-transform 0.5s;
								transition        : transform 0.5s;
								transition        : transform 0.5s, -webkit-transform 0.5s;
							}

							&:after {
								content           : '';
								position          : absolute;
								width             : 2px;
								height            : 15px;
								background        : #fff;
								border-radius     : 2px;
								top               : 12px;
								right             : 0;
								-webkit-transition: -webkit-transform 0.5s;
								transition        : -webkit-transform 0.5s;
								transition        : transform 0.5s;
								transition        : transform 0.5s, -webkit-transform 0.5s;
								right             : -10px;
								-webkit-transform : rotate(45deg);
								transform         : rotate(45deg);
							}
						}
					}

					.dropdown-content {
						padding           : 0;
						display           : block;
						visibility        : hidden;
						opacity           : 0;
						-webkit-transition: visibility 0s, opacity 0.5s linear, transform;
						-webkit-transition: visibility 0.5s, opacity 0.5s linear;
						transition        : visibility 0.5s, opacity 0.5s linear;
						position          : absolute;
						background-color  : #f1f1f1;
						-webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
						box-shadow        : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
						z-index           : 1;
						width             : calc(100% + 20px);

						li {
							border-bottom  : 1px dashed gray;
							list-style-type: none;

							&:nth-last-child(1) {
								border-bottom: none;
							}
						}

						a {
							color          : #000 !important;
							padding        : 0 5px;
							text-decoration: none;
							display        : block;
							font-weight    : 600;
							font-size      : 20px;
							text-align     : left;

							&:hover {
								font-style: Italic;
							}
						}
					}
				}
			}
		}
	}
}