---
layout: page
permalink: /future
css: future
title: Future Projects
---
<p> Since <a href="/members/christian_sirolli/">Christian Sirolli</a> was a young teenager, he always had the dream to produce revolutionary products. Many of his ideas have been locked away in his mind, but here they are spelled out. The following subpages detail his ideas and naturally are subject to change. Hopefully one day these future projects will come to fruition. Many of these projects will need the Think Differently Project to be its own company.</p>

<ul>
    <li><a href="/future/armonia/">Cloud Service</a></li>
    <li><a href="/future/vehicles/">Futuristic Vehicles</a></li>
    <li><a href="/future/phones/">Futuristic Phones</a></li>
    <li><a href="/future/tablets/">Futuristic Tablets</a></li>
    <li><a href="/future/laptops/">Futuristic Laptops</a></li>
    <li><a href="/future/computers/">Futuristic Computers</a></li>
    <li><a href="/future/os/">Cross-device Operating System</a></li>
    <!-- <li><a href="/future//"></a></li> -->
</ul>