---
layout: default
permalink: /
css: home
---
<div id="logo"><a href="/"><img src="/webp/logo_transparent-glow.webp" onerror="this.onerror=null; this.src='/img/logo_transparent-glow.png'" alt="Think Differently Project" id="logo-image" width=1600 height=500></a></div>
<div id="slogan">{{ site.slogan }}</div>
{% include nav.html %}