<header>
    <div id="logo"><a href="/"><h1>{{ site.title }}</h1>
    <!-- <img class="shadowed" src="/webp/logo_small_transparent-glow.webp" onerror="this.onerror=null; this.src='/img/logo_small_transparent-glow.PNG'" id="logo-image" alt="{{ site.title }}" width="640" height="360" /> -->
    </a></div>
    <div id="slogan">{{ site.slogan }}</div>
    {% include nav.html %}
</header>