<!-- 
/
    /index.html
    /404.html
    /about
        /index.html
    /members
        /index.html
        /christian_sirolli
            /index.html
    /projects
        /index.html
        /emfanizo
            /index.html
        /entoli
            /index.html
        /nefos
            /index.html
        /pei
            /index.html
        /provoli
            /index.html
        /psachno
            /index.html
        /thea
            /index.html
    /future
        /index.html
            /index.html
        /cloud_service
            /index.html
        /laptops
            /index.html
        /os
            /index.html
        /phones
            /index.html
        /tablets
            /index.html
        /vehicles
            /index.html
    
 -->
<nav class="desktop-nav">
    <ul>
        <li class="dropdown hover">
            <input type="checkbox" id="d1" onclick='$("#d2").prop("checked", false);$("#d3").prop("checked", false);' />
            <button
                class="dropbtn{% if page.css == "about" %} nav-current{% endif %}">About
                <i></i></button>
            <ul class="dropdown-content">
                <li {% if page.css == "about" %}class="nav-current" {% endif %}><a href="/about/">What Is TDP?</a>
                </li>
            </ul>
        </li>
        <li class="dropdown hover">
            <input type="checkbox" id="d2" onclick='$("#d1").prop("checked", false);$("#d3").prop("checked", false);' />
            <button
                class="dropbtn{% if page.css == "members" or page.css == "christian_sirolli" %} nav-current{% endif %}">Members
                <i></i></button>
            <ul class="dropdown-content">
                <li {% if page.css == "members" %}class="nav-current" {% endif %}><a href="/members/">About Us</a></li>
                <li {% if page.css == "christian_sirolli" %}class="nav-current" {% endif %}><a href="/members/christian_sirolli/">Christian Sirolli</a></li>
            </ul>
        </li>
        <li class="dropdown hover">
            <input type="checkbox" id="d3" onclick='$("#d1").prop("checked", false);$("#d2").prop("checked", false);' />
            <button
                class="dropbtn{% if page.css == "projects" or page.css == "emfanizo" or page.css == "entoli" or page.css == "nefos" or page.css == "pei" or page.css == "provoli" or page.css == "psachno" or page.css == "thea" or page.css == "future" %} nav-current{% endif %}">Projects
                <i></i></button>
            <ul class="dropdown-content">
                <li {% if page.css == "projects" %}class="nav-current" {% endif %}><a href="/projects/">Our Projects</a></li>
                <li {% if page.css == "emfanizo" %}class="nav-current" {% endif %}><a href="/projects/emfanizo/">Emfanizo</a></li>
                <li {% if page.css == "entoli" %}class="nav-current" {% endif %}><a href="/projects/entoli/">Entoli</a></li>
                <li {% if page.css == "nefos" %}class="nav-current" {% endif %}><a href="/projects/nefos/">Nefos</a></li>
                <li {% if page.css == "pei" %}class="nav-current" {% endif %}><a href="/projects/pei/">Pei</a></li>
                <li {% if page.css == "provoli" %}class="nav-current" {% endif %}><a href="/projects/provoli/">Provoli</a></li>
                <li {% if page.css == "psachno" %}class="nav-current" {% endif %}><a href="/projects/psachno/">Psachno</a></li>
                <li {% if page.css == "thea" %}class="nav-current" {% endif %}><a href="/projects/thea/">Thea</a></li>
                <li {% if page.css == "future" %}class="nav-current" {% endif %}><a href="/future/">Future Projects</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav class="mobile-nav">
    <div id="menuToggle" class="shadowed">
        <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
        <input type="checkbox" onclick='$("#m1").prop("checked", false);$("#m2").prop("checked", false);$("#m3").prop("checked", false);' />

        <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <li class="dropdown hover">
                <input type="checkbox" id="m1" onclick='$("#m2").prop("checked", false);$("#m3").prop("checked", false);' />
                <button
                    class="dropbtn{% if page.css == "about" %} nav-current{% endif %}">About
                    <i></i></button>
                <ul class="dropdown-content">
                    <li {% if page.css == "about" %}class="nav-current" {% endif %}><a href="/about/">What Is TDP?</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown hover">
                <input type="checkbox" id="m2" onclick='$("#m1").prop("checked", false);$("#m3").prop("checked", false);' />
                <button
                    class="dropbtn{% if page.css == "members" or page.css == "christian_sirolli" %} nav-current{% endif %}">Members
                    <i></i></button>
                <ul class="dropdown-content">
                    <li {% if page.css == "members" %}class="nav-current" {% endif %}><a href="/members/">About Us</a></li>
                    <li {% if page.css == "christian_sirolli" %}class="nav-current" {% endif %}><a href="/members/christian_sirolli/">Christian Sirolli</a></li>
                </ul>
            </li>
            <li class="dropdown hover">
                <input type="checkbox" id="m3" onclick='$("#m1").prop("checked", false);$("#m2").prop("checked", false);' />
                <button
                    class="dropbtn{% if page.css == "projects" or page.css == "emfanizo" or page.css == "entoli" or page.css == "pei" or page.css == "provoli" or page.css == "psachno" or page.css == "thea" or page.css == "future" %} nav-current{% endif %}">Projects
                    <i></i></button>
                <ul class="dropdown-content">
                    <li {% if page.css == "projects" %}class="nav-current" {% endif %}><a href="/projects/">Our Projects</a></li>
                    <li {% if page.css == "emfanizo" %}class="nav-current" {% endif %}><a href="/projects/emfanizo/">Emfanizo</a></li>
                    <li {% if page.css == "entoli" %}class="nav-current" {% endif %}><a href="/projects/entoli/">Entoli</a></li>
                    <li {% if page.css == "pei" %}class="nav-current" {% endif %}><a href="/projects/pei/">Pei</a></li>
                    <li {% if page.css == "provoli" %}class="nav-current" {% endif %}><a href="/projects/provoli/">Provoli</a></li>
                    <li {% if page.css == "psachno" %}class="nav-current" {% endif %}><a href="/projects/psachno/">Psachno</a></li>
                    <li {% if page.css == "thea" %}class="nav-current" {% endif %}><a href="/projects/thea/">Thea</a></li>
                    <li {% if page.css == "future" %}class="nav-current" {% endif %}><a href="/future/">Future Projects</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>