---
layout: page
permalink: /future/armonia
css: cloud_service
title: Armonia Cloud
---
<p>Armonia Cloud will be a future cloud service. "Armonia" is a Greek word for "harmony". <a href="/members/christian_sirolli/">Christian Sirolli's</a> vision for this cloud service includes these ideas:</p>
<ul>
    <li><a href="https://www.intel.com/content/www/us/en/products/docs/memory-storage/solid-state-drives/edsff-brief.html">EDSFF Based Intel® Data Center SSDs</a>
        <ul>
            <li>Use a similar concept, but fit an entire Petabyte onto 1 SSD.</li>
            <li>Needs much research to make it affordable</li>
        </ul>
    </li>
    <li>Multiple plans (payment options include monthly and yearly), including a free plan:
        <ul>
            <li>First tier: Free - 1TB</li>
            <li>Second tier: 5TB</li>
            <li>Third tier: 10TB</li>
            <li>Fourth tier: 50TB</li>
            <li>Fifth tier: 100TB</li>
            <li>Sixth tier: 500TB</li>
            <li>Seventh tier: 1PB</li>
            <li>Eighth tier: Custom plan</li>
        </ul>
    </li>
    <li>Top Quality and Security for all plans; including encrypted data.</li>
    <li>Each account has a personal sandboxed, virtualized OS.</li>
    <li>Advanced, developer-friendly, well documented API.</li>
    <li>User-friendly interface</li>
    <!-- <li></li> -->
    <!-- <li></li> -->
    <!-- <li></li> -->
    <!-- <li></li> -->
    <!-- <li></li> -->
    <!-- <li></li> -->
</ul>