---
layout: page
permalink: /members/christian_sirolli
css: christian_sirolli
title: Christian Sirolli
script: page
---
<img class="avatar" src="/members/christian_sirolli/avatar_08.jpeg" alt="Christian Sirolli"></img>
<p style="text-align: center;"><a href="mailto:christian.sirolli@gmail.com">Contact</a> | <a href="https://www.facebook.com/christian.sirolli">Facebook</a> | <a href="https://twitter.com/C_Sirolli">Twitter</a></p>
<p>Christian Sirolli currently is a young man of <span id="csirolli_age"></span>. He currently works for <a href="https://www.physicssystems.com/">Physics Systems, LLC</a>, as a Field Technician in central Florida. He is actively working towards joining the Air Force, having achieved a score of 99 on the ASVAB. In his spare time, he writes software on GitLab in the group named "Think Differently Project" that he created. He is always looking for developers to join the Project who think differently than others, developers who care about quality and keep to high standards while programming. All of the software he has developed and is developing is free and open sourced, licensed under the MIT License when possible.</p>
<ul>
    <li>Certifications: <a href="https://www.youracclaim.com/users/christian.sirolli/badges">View on Acclaim</a>
        <ul>
            <li>CompTIA A+ ce</li>
            <li>Microsoft Office Master 2016</li>
            <li>Multiple Microsoft Technology Associate certifications:</li>
                <ul>
                    <li>Windows Operating System Fundamentals</li>
                    <li>Security Fundamentals</li>
                    <li>Networking Fundamentals</li>
                    <li>Software Development Fundamentals</li>
                    <li>HTML5 Application Development Fundamentals</li>
                    <li>Introduction to Programming Using HTML and CSS</li>
                    <li>Introduction to Programming Using Python</li>
                    <li>Introduction to Programming Using JavaScript</li>
                </ul>
        </ul>
    </li>
    <li>Accomplishments:
        <ul>
            <li>ASVAB score: 99 / 99</li>
        </ul>
    </li>
    <li>Skills:
        <ul>
            <li>Web Development</li>
            <li>Software Development (mainly in Python)</li>
            <li>Typing at speeds of 45 to 50 words per minute</li>
        </ul>
    </li>
    <li>Examples of Projects:
        <ul>
            <li><a href="https://www.thegatheringocala.com">Website</a> for The Gathering of Ocala church.</li>
            <li><a href="https://gitlab.com/mti-it/pc-builder-sim">PC Builder Sim</a> game for MTI's Information Technology academy.</li>
        </ul>
    </li>
</ul>
<script>
document.getElementById("csirolli_age").innerText = getAge("2000/12/27");
</script>