---
layout: project
permalink: /projects/thea
css: thea
title: Thea
version: 0.0.0.1
type: alpha
---
<p>Thea is a new browser written from scratch in Python. It doesn't reuse any other rendering engine, but uses its own called Metatrepo, also written in Python. It makes use of the Kivy GUI, so it has a very powerful interface. We have designed it in a way that differs from the mainstream idea of a browser. The primary difference here is we have our tabs and favorite bar at the sides instead of the top. This helps declutter the top area.</p>
<p>Thea and Metatrepo are currently unopperational, however you can download the source code, run it, and see our progress. Refer to the README.md file for help.</p>
<h2>Metatrepo</h2>
<p class="info"><span class="status alpha">0.0.0.1-alpha</span> | <a class="project-gitlab-link" href="https://gitlab.com/think-differently/thea/blob/master/metatrepo.py">Project Files</a></p>
<p>The Metatrepo rendering engine converts web pages you browse to into a KV string that the Kivy GUI uses to display the web pages.</p>