<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title | append: " | " }}{% endif %}{{ site.title }}</title>
	<!--Icons-->
	<!-- icon in the highest resolution we need it for -->
	<link rel="icon" type="image/x-icon" sizes="192x192" href="/img/favicon.png">
	<!-- reuse same icon for Safari -->
	<link rel="apple-touch-icon" href="/img/favicon.png">
	<!-- multiple icons for IE -->
	<meta name="msapplication-square310x310logo" content="/img/favicon.png">
	<link rel="apple-touch-startup-image" href="/img/logo_white_bg.png">

	<!--
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">
    <meta name="msapplication-square70x70logo" content="icon_smalltile.png">
    <meta name="msapplication-square150x150logo" content="icon_mediumtile.png">
    <meta name="msapplication-wide310x150logo" content="icon_widetile.png">
    -->
	<!-- Link tags -->
	<!-- <link rel="stylesheet" href="/css/site.css"> -->
	<link rel="stylesheet" href="/css/site.css">
	<link rel="canonical" href="{{ site.url }}{{ page.permalink }}">
	<!-- Meta tags -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta id="view" name="viewport" content=", initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=1, viewport-fit=cover">
	<meta name="description" content="{{ site.description }}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title | append: " | " }}{% endif %}{{ site.title }}">
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:image:src" content="/img/logo_small_transparent.PNG">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:title" content="{% if page.title %}{{ page.title | append: " | " }}{% endif %}{{ site.title }}">
	<meta property="og:image" content="/img/logo_small_transparent.PNG">
	<meta name="theme-color" content="#b1c6c6" />
</head>

<body>
	<script src="/js/jquery-3.4.0.min.js">
	</script>
	<script>
		const alertErrors = false;
      if (alertErrors === true) {
        $(window).on("error", function(evt) {
            alert("jQuery error event:", evt);
            var e = evt.originalEvent; // get the javascript event
            alert("original event:", e);
            if (e.message) { 
                alert("Error:\n\t" + e.message + "\nLine:\n\t" + e.lineno + "\nFile:\n\t" + e.filename);
            } else {
                alert("Error:\n\t" + e.type + "\nElement:\n\t" + (e.srcElement || e.target));
            }
        });
        $(window).on("warn", function(evt) {
            alert("jQuery warn event:", evt);
            var e = evt.originalEvent; // get the javascript event
            alert("original event:", e);
            if (e.message) { 
                alert("Warning:\n\t" + e.message + "\nLine:\n\t" + e.lineno + "\nFile:\n\t" + e.filename);
            } else {
                alert("Warning:\n\t" + e.type + "\nElement:\n\t" + (e.srcElement || e.target));
            }
        });
      }
	</script>
	<script async src="/js/modernizr-custom.js"></script>
	<script src="/js/jquery.smoothState.js"></script>
    {% if layout.scripts[0] %} {% for script in layout.scripts %}
    <script src="/js/{{ script }}.js"></script>{% endfor %}{% elsif layout.scripts %}
    <script src="/js/{{ layout.scripts }}.js"></script>{% endif %}
	<div id="bg">
	</div>
	<div id="main">
		<!--Whatever is in this DIV will get reloaded on navigation, everything outside of it will not.-->
        {% if layout.header %}
            {% include header.html %}
            <div class="site page-{{ page.css }}">
                <script>
                    $('html').removeClass('no-js');
                </script>
                <main>
                    <article>
                        <h2>{{ page.title }}</h2>
                        {{ content }}
                    </article>
                </main>
            </div>
        {% elsif layout.nav %}
            {% include header.html %}
            <div class="site page-{{ page.css }}">
                <script>
                    $('html').removeClass('no-js');
                </script>
                <main>
                    <article>{{ content }}</article>
                </main>
            </div>
        {% else %}
            <div class="site page-{{ page.css }}">
                <script>
                    $('html').removeClass('no-js');
                </script>
                <main>
                    <article>{{ content }}</article>
                </main>
            </div>
        {% endif %}
		<!-- <button id="btnAdd">Click to add to Homescreen</button>
        <button id="close">x</button> -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133709856-1"></script> -->
    </div>
  <script>
		$(function(){
          'use strict';
          var $page = $('#main'),
              options = {
                debug: true,
                prefetch: true,
                cacheLength: 2,
                forms: 'form',
                onStart: {
                  duration: 250, // Duration of our animation
                  render: function ($container) {
                    // Add your CSS animation reversing class
                    $container.addClass('is-exiting');
                    // Restart your animation
                    smoothState.restartCSSAnimations();
                  }
                },
                onReady: {
                  duration: 0,
                  render: function ($container, $newContent) {
                    // Remove your CSS animation reversing class
                    $container.removeClass('is-exiting');
                    // Inject the new content
                    $container.html($newContent);
                  }
                }
              },
              smoothState = $page.smoothState(options).data('smoothState');

        });
  </script>
</body>

</html>