---
layout: default
scripts: page
header: false
nav: true
---
<h2>{{ page.title }}</h2>
<p class="info"><span class="status {{ page.type }}">{{ page.version }}-{{ page.type }}</span> | <a class="project-gitlab-link" href="https://gitlab.com/think-differently/{{ page.css }}">Project Files</a></p>
{{ content }}